* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: url(./images/bg.jpg) no-repeat; */
    background-size: cover;
}

.search-img {
    width: 100%;
   
    margin-bottom: 50px;
}

.search-img__title {

}

.search-img__body {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: row-reverse; */
}

.search-img__uploadfile {
    width: 40%;
    padding: 0 0 50px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 40px;
}

.upload {

}

.search-img__result {
    width: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 40px;
}

.search-inf {

}

.search-inf__title {

}

.search-inf__body {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.search-inf__form {
    width: 50%;
    background-color: #fff;
    box-shadow: #dcd8d8 0px 1px 3px 0px;
    border-radius: 10px;
}

.form-control1 {
    display: flex;
    padding: 12px;
}

.form-control1 select {
    flex: 1;
}

.form-control1 p {
    min-width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
}

.radio {
    margin: 0 50px;
}

span.range {
    margin-left: 50%;
}

.detail {
    float: right;
    background-color: rgb(64, 121, 8);
    padding:5px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.item-mini {
    width: 100px;
}

.search-info__result {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-inf__img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;
    box-shadow: #dcd8d8 0px 1px 3px 0px;
    width: 100%;
    height: 48%;
    border-radius: 10px;
}

.search-inf__img img {
    width: 90%;
    height: 90%;
}

.search-inf__list {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: #dcd8d8 0px 1px 3px 0px;
    border-radius: 10px;
}

.search-img__list {
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.list-item {
    width: 100%;
    height: 80px;
    padding: 16px;
    margin-left: 80px;
    font-size: 16px;
    display: flex;
}

.list-item-inf {
    font-size: 16px;
    padding: 16px;
    margin-left: 80px;
}

.list-item img {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border-radius: 100%;
}

.result_title {
    width: 100%;
    height: 60px;
    background-color: rgb(64, 121, 8);
    margin-right: 0;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_search {
    width: 25%;
    display: inline;
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 20px;
    color: white;
}

.inf_search {
    width: 25%;
    display: inline;
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 20px;
    color: white;
    margin-left: 40%;
    margin-top: 5%;
}

.search-inf__list .list-item {
    width: 100%;
    height: 20%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.search-inf__list .list-item img {
    width: 20%;
    height: 90%;
}

.search-inf__list .list-item a {

}



/* Phần upload file */
i {
    padding: 0 10px;
}

.wrap {
    margin: 10% auto;
    width: 60%;
}

.dandev-reviews {
    position: relative;
    margin-top: -20px;
    margin: 0;
}

.dandev-reviews .form_upload {
    width: 320px;
    position: relative;
    padding: 5px;
    margin: 0 auto;
    bottom: 0px;
    height: 40px;
    left: 0;
    z-index: 5;
    box-sizing: border-box;
    background: #f7f7f7;
    border-top: 1px solid #ddd;
}

.dandev-reviews .form_upload>label {
    height: 35px;
    width: 200px;
    display: block;
    cursor: pointer;
}

.dandev-reviews .form_upload label span {
    padding-left: 20px;
    display: inline-block;
    background-size: 23px 30px;
    margin: 5px 0 0 10px;
    color:rgb(64, 121, 8);
}

.list_attach {
    display:  block;
    margin-top: 20px;
    margin-left: 145px;
}

ul.dandev_attach_view {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.dandev_attach_view li {
    float: left;
    width: 80px;
    margin: 0 20px 20px 0 !important;
    padding: 0 !important;
    border: 0 !important;
    overflow: inherit;
    clear: none;
}

ul.dandev_attach_view .img-wrap {
    position: relative;
}

ul.dandev_attach_view .img-wrap .close {
    position: absolute;
    right: -10px;
    top: -10px;
    background:  #000;
    color: #fff !important;
    border-radius: 50%;
    z-index: 2;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    cursor:  pointer !important;
    opacity: 1 !important;
    text-shadow: none;
}

ul.dandev_attach_view li.li_file_hide {
    opacity: 0;
    visibility: visible;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    margin: 0 !important;
}

ul.dandev_attach_view .img-wrap-box {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
    height: auto;
    background-position: 50% 50%;
    background-size: cover;
}

.img-wrap-box img {
    right: 0;
    width: 100% !important;
    height: 100% !important;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    -o-object-fit: cover;
    transition: all .5s linear;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -ms-transition: all .5s linear;
}

ul li,
ol li {
    list-style-position: inside;
}

.list_attach span.dandev_insert_attach {
    width: 90px;
    height: 90px;
    text-align: center;
    display: inline-block;
    border: 2px dashed #ccc;
    line-height: 76px;
    font-size: 25px;
    color: #ccc;
    /* display: none; */
    cursor: pointer;
    float: left;
}

ul.dandev_attach_view {
    /* list-style:none; */
    margin:0;
    padding:0;
}

ul.dandev_attach_view .img-wrap {
    position: relative;
}

.list_attach.show-btn span.dandev_insert_attach {
    display: block;
    margin: 0 0 20px !important;
}

i.dandev-plus {
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 1;
}

ul.dandev_attach_view li input {
    display: none;
}