.carousel .slide img  {
  width: auto !important;
}

.img-input {
  width: 250px;
  height: 250px;
}

.hidden {
  display: none;
}

.search-inf__list--scrool {
  overflow-x: hidden;
  overflow-y: auto;
}

.login {
  line-height: 20px;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: #3b3b3b;
  padding: 22px 26px;
  text-transform: uppercase;
}